body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Left Column */
.left-column {
    width: 20%;
    background-color: #88b8ff;
    padding: 20px;
}

/* Middle Column */
.middle-column {
    width: 60%;
    padding: 20px;
}

/* Right Column */
.right-column {
    width: 20%;
    background-color: #88b8ff;
    padding: 20px;
}

/* Styling Inputs and Button */
input {
    width: 80%;
    padding: 5px;
}

button {
    padding: 7px 15px;
    background-color: #679fe8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0f66d0;
}
